body,html{
    margin:0;
    padding:0;
    color:#666;
}
.head{
    /*float: left;*/
    width: 100%;
    height:220px;
    padding-top: 80px;
    font-size: 40px;
    background:  linear-gradient(to bottom,#0d87cc,#0870ac);;
    color:#fff;
    text-shadow: 4px 3px 0 #0d87cc, 9px 8px 0 rgba(0,0,0,0.15);
}
.head span{
    display: block;
}

.head .t{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 10%;
    margin: 0px 0 40px 0;
}
.head .p{
    width:100%;
    height:30px;
    line-height: 30px;
    font-size: 18px;
    text-shadow: none;
    text-indent: 10%;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container .layout{
    width: 100%;
    display: table;
    margin:20px auto;
}
.container .layout .hd{
    width:100%;
    height:60px;
    line-height: 60px;
    font-size: 24px;
    font-weight:bold;
    color:#333;
    text-indent: 20px;
    border-bottom:1px solid #e5e5e5;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,   .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,  .col-xs-10, .col-sm-10, .col-md-10,
.col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.svg-box{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #222;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px;
}
.svg-box svg{
    display: inline-block;
    vertical-align: middle;
}
.svg-box .svg-small{
    width: 20px;
    height: 20px;
}
.svg-box span{
    display: inline-block;
}
@media (max-width: 768px){
    .head{
        font-size: 30px;
        height: 120px;
        padding-top: 40px;
    }
    .container {
        width: 100%;
    }

}
@media (min-width: 768px){
    .head{
        height: 140px;
        padding-top: 40px;
    }
    .container {
        width: 750px;
    }
    .col-md-3{
        width: calc(33.33% - 30px)
    }
}
@media (min-width: 992px) {
    .head{
        height: 180px;
        padding-top: 60px;
    }
    .container {
        width: 970px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
    .col-md-3{
        width: calc(25% - 30px)
    }

}