.my_page{
text-align:left;
}
.my_page a{
position: relative;
/* float: left; */
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #428bca;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}
.my_page span{
position: relative;
/* float: left; */
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color:#fff;
text-decoration: none;
background-color:  #6f80a1;
border: 1px solid #ddd;
}
.sel{background: #f4f4f4;}
.my_page li{margin-top: 10px;display:none;}
.table tr th{text-align:center;}
